<footer class="footer footer--s6 footer--color-light">
	<div class="footer__line footer__line--first">
		<div class="container">
			<div class="row ">
				<div class="col-12">
					<div class="footer__item">
						<!-- start social buttons -->
						<div class="s-btns s-btns--md s-btns--light s-btns--rounded">
							<ul class="d-flex flex-row flex-wrap align-items-center justify-content-center ">
								<li><a class="f" href="#"><i class="fontello-facebook"></i></a></li>
								<li><a class="t" href="#"><i class="fontello-twitter"></i></a></li>
								<li><a class="y" href="#"><i class="fontello-youtube-play"></i></a></li>
								<li><a class="i" href="#"><i class="fontello-instagram"></i></a></li>
							</ul>
						</div>
						<!-- end social buttons -->
					</div>

					<div class="footer__item text-center">
						<span class="__copy">Copyrights 2019 © <a class="__dev" href="https://themeforest.net/user/artureanec" target="_blank">Artureanec Themes</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>