<div id="side-menu" class="side-menu  d-none">
	<span class="side-menu__button-close  js-side-menu-close"></span>

	<div class="side-menu__inner">
		<div>
			<img class="img-fluid lazy" src="img/blank.gif" data-src="img/site_logo/logo_1.png" width="159" height="45" alt="demo" />
		</div>

		<ul class="side-menu__menu">
			<li class="active"><a href="#">Documents</a></li>
			<li><a href="#">Aditional Info</a></li>
			<li><a href="#">Application</a></li>
			<li><a href="#">Useful Link</a></li>
		</ul>

		<address class="side-menu__address">
			113 Fulton Street, Suite 721
			New York, NY 10010 <br>
			<a href="mailto:youremail@yourdomain.com">youremail@yourdomain.com</a> <br>
			<a href="#">+88 (0) 101 0000 000</a>

			<div class="s-btns s-btns--md s-btns--colored s-btns--rounded">
				<ul class="d-flex flex-row flex-wrap align-items-center">
					<li><a class="f" href="#"><i class="fontello-facebook"></i></a></li>
					<li><a class="t" href="#"><i class="fontello-twitter"></i></a></li>
					<li><a class="y" href="#"><i class="fontello-youtube-play"></i></a></li>
					<li><a class="i" href="#"><i class="fontello-instagram"></i></a></li>
				</ul>
			</div>
		</address>

		<div>
			<a class="custom-btn custom-btn--medium custom-btn--style-5" href="#">Purchase</a>
		</div>
	</div>
</div>